html {
  font-family: helvetica;
  text-align: center;
}
.title {
  color: white;
  background-image: url("./../images/the-flatiron-building.png")
}

.title h1 {
  font-weight: bold;
  font-size: 70px;
  margin-bottom: 0;
}
h3.title {
  font-size: 23px;
  font-weight: bold;
}
a {
  font-size: 18px;
  color: white;
  font-family: arial;
  font-weight: bold;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
footer {
  background-color: dimgray;
  text-align: left;
  color: white;
}
footer p a{
  font-size: 11px;
  font-weight: bold;
}
